body {
    background-color: rgb(35, 47, 53);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Noto Serif TC', serif;
    color: whitesmoke;
    text-align: center;
}
<!-- set table size -->
table{
    border-collapse: collapse;
    width: 100%;
}
th , td{
    text-align: center;
    padding: 16px;
}
<!-- set picture size-->
img.pic{
    width: 160px;
    height: auto;
}
li{
    text-align: left;
}
<!-- set link color -->
.abkcolor{
    text-decoration: none;
    text-align: center;
}
.abkcolor:hover{
    cursor: pointer;
}
.abkcolor:visited {
    color:firebrick;
    text-decoration:none;
}
.abkcolor:link{
    color: firebrick;
    text-decoration:none;
}
